<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}(no title){% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/styles.css' %}"/>
    <meta name="description" content="Your food - our recipe">
    <meta charset="utf-8">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'polls:input_product' %}">Новый поиск</a> |
            <a href="{% url 'polls:credits' %}">Авторы</a>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <div>
            <p><em>Taste'O'Clock project<br/>2017</em></p>
        </div>
    </footer>
</body>
</html>
