{% extends 'polls/base.html' %}

{% block title %}Credits{% endblock %}

{% block content %}
{% load static %}
<div class="line">
    <h1>Project credits</h1>
</div>
<div id="content">
    <div id="header">
        Heroes of our time
    </div>
    <div>
        <div id="lera">
            <h3>Lera</h3><br/>
            <span>Backend magician</span><br/>
            <span><a href="mailto:lera.leroi@gmail.com" target="_blank">
                <img src="{% static 'polls/mail-pic.png' %}" width="50px" alt="Mail"/>
            </a>
            <a href="http://t.me/" target="_blank">
                <img src="{% static 'polls/telegram-pic.png' %}" width="50px" alt="Telegram"/>
            </a>
            </span>
        </div>
        <div id="polina">
            <h3>Polina</h3><br/>
            <span>Frontend witch</span><br/>
            <span><a href="mailto:ponchitaz@yahoo.com" target="_blank">
                <img src="{% static 'polls/mail-pic.png' %}" width="50px" alt="Mail"/>
            </a>
            <a href="http://t.me/ponchitaz" target="_blank">
                <img src="{% static 'polls/telegram-pic.png' %}" width="50px" alt="Telegram"/>
            </a>
            </span>
        </div>
    <div id="github">
        <a href="https://github.com/ponchitaz/polerol_foods" target="_blank">
            <img src="{% static 'polls/github-pic.png' %}" width="100px" alt="GitHub"/>
        </a>
    </div>
    </div>
</div>
<a href="{% url 'polls:polls_index' %}"><div class="line"><em><strong>Home</strong></em></div></a>

{% endblock %}
