{% extends 'polls/base.html' %}

{% block title %}Taste'O'Clock project{% endblock %}

{% block content %}
{% load static %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-xs-12">
            <h1>Taste'O'Clock</h1>
        </div>
    </div>
    <div class="row-fluid"  id="content">
        <div class="col-xs-12" id="header">
            Добро пожаловать в Taste'O'Clock!
        </div>
        <div class="col-xs-12">
            Цель сайта:<br/>рассказать Вам о рецептах,<br/>которые Вы можете приготовить прямо сейчас<br/>из того, что есть под рукой
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-xs-12">
            <a href="{% url 'polls:input_product' %}"><div class="line"><em><strong>Начать</strong></em></div></a>
        </div>
    </div>
</div>
{% endblock %}
