{% extends 'polls/base.html' %}

{% block title %}Taste'O'Clock project{% endblock %}

{% block content %}
{% load static %}
    <div class="line">
        <h1>Taste'O'Clock</h1>
    </div>
    <div id="content">
        <div id="header">
            Welcome to Taste'O'Clock!
        </div>
        <div>
            The site is aimed <br/>to find the recipe for you to cook <br/>according to your <br/>prefered set of products
        </div>
    </div>
    <a href="{% url 'polls:input_product' %}"><div class="line"><em><strong>Let's begin</strong></em></div></a>
{% endblock %}
