{% extends 'polls/base.html' %}

{% block title %}Polerol Foods project{% endblock %}

{% block content %}
    <div class="line">
        <h1>Polerol Foods</h1>
    </div>
    <div id="content">
        <div id="header">
            Welcome to Polerol Foods!
        </div>
        <div>
            The site is aimed <br/>to find the recipe for you to cook <br/>according to your <br/>prefered set of products
        </div>
    </div>
    <a href=""><div class="line"><em><strong>Let's begin</strong></em></div></a>
{% endblock %}
