{% extends 'polls/base.html' %}

{% block title %}Taste'O'Clock input{% endblock %}

{% block content %}
{% load static %}
<div class="container-fluid">
    {{ form.media.css }}
    <div clas="row-fluid">
        <div class="col-xs-12">
            <h1>Что у Вас есть?</h1>
        </div>
    </div>
    <div class="row-fluid" id="content">
        <div class="col-xs-12" id="header">
            Выберите из списка продукты, <br/>которые Вы хотите приготовить:
        </div>
        <div class="col-xs-12">
        <style type="text/css">
          select {
            width: 80%;
          }
        </style>
            <form method="get" action="{% url 'polls:your_recipe' %}">
              {% csrf_token %}
              {{ form }}</br>
              <input type="submit" value="Submit Form"/>
            </form>
        </div>
    </div>
</div>
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
  window.onerror = function (msg) {
    $("body").attr("JSError", msg);
  }
</script>
{{ form.media.js }}
{% endblock %}
