{% extends 'polls/base.html' %}

{% block title %}Taste'O'Clock input{% endblock %}

{% block content %}
{% load static %}
    <div class="line">
        <h1>What do you have?</h1>
    </div>
    <div id="content">
        <div id="header">
            Input the list of products you have right now and want to cook at once:
        </div>
        <div>
        <form action="{% url 'polls:your_recipe' %}" method='get'>
          {% csrf_token %}
          {{ product_form.as_p }}
          <input type="submit" value="Submit" />
        </form>
        </div>
        </div>

    <!-- Пока что активна просто ссылка на др. стр. для удобства ее верстки -->

    <a href="{% url 'polls:recipe_details' %}"><div class="line"><em><strong>Let's cook</strong></em></div></a>

    <!-- <div class="line">
        <input type="submit"
               value="Let's cook"
               form="products"
               formaction=""
               formmethod="get | post"
               formtarget="{% url 'polls:your_recipe' %} _self"/>

                <!-- formaction - ссылка на алгоритм работы с бд (отсыка к файлу по URL),
                т.е. мы ввели продукты, на чем основывается SQL-запрос, типа:
                "покажи рецепты, в которых есть вот эта шняга"

                + formmethod - можно выбрать метод дтправки данных на сервер
                (http://htmlbook.ru/html/input/formmethod)

                + когда наприсуется красивая кнопка, ее можно будет тут прописать:
                type="image" src="URL"
                -->
    </div>
{% endblock %}
